<ion-header>
  <ion-toolbar color="primary" hidden>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-item>
    <ion-icon name="basket" class="logo"></ion-icon>
  </ion-item>

  <h2>On The Way</h2>

  <form (ngSubmit)="login()" [formGroup]="loginForm">

    <ion-grid style="width: 90%;">

      <ion-row class="rowStyle">
        <ion-icon class="icon" name="mail"></ion-icon>
        <ion-input placeholder="NRIC" name="nric" formControlName="nric"></ion-input>
      </ion-row>


      <ion-button class="button" color="primary" expand="block" type="submit" [disabled]="!loginForm.valid">Login</ion-button>    
      <ion-button class="button" color="secondary" expand="block" routerLink="/register">Create Account</ion-button>

    </ion-grid>
     
  </form>

  </ion-content>