<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Test 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>Please ensure that your details are correct.</p>
  <p>{{ nric }}</p>
  <p>{{ name }}</p>

  <ion-button>Start Test</ion-button>

</ion-content>
