<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
 <p>Welcome, {{name}}</p>
 <p>Unique identifier: {{ uid }}</p>

 <ion-button [routerLink]="['/test-page']">TestPage1</ion-button>

</ion-content>
